<a href="https://colab.research.google.com/github/EEdwardsA/Build-Week-1/blob/master/module4-logistic-regression/LS_DS_214_assignment_Elizabeth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [3]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [4]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [5]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [6]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [7]:
# Sanitize
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
df.set_index(['Date'], inplace=True)
df.head()

               Burrito  Yelp  Google Chips  ...  Avocado  Corn  Zucchini  Great
Date                                        ...
2016-01-18  California   3.5     4.2   NaN  ...      NaN   NaN       NaN  False
2016-01-24  California   3.5     3.3   NaN  ...      NaN   NaN       NaN  False
2016-01-24    Carnitas   NaN     NaN   NaN  ...      NaN   NaN       NaN  False
2016-01-24       Asada   NaN     NaN   NaN  ...      NaN   NaN       NaN  False
2016-01-27  California   4.0     3.8     x  ...      NaN   NaN       NaN   True

[5 rows x 58 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 421 entries, 2016-01-18 to 2019-08-27
Data columns (total 58 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Burrito         421 non-null    object
 1   Yelp            87 non-null     float64
 2   Google          87 non-null     float64
 3   Chips           26 non-null     object
 4   Cost            414 non-null    float64
 5   Hunger          418 non-null    float64
 6   Mass (g)        22 non-null     float64
 7   Density (g/mL)  22 non-null     float64
 8   Length          283 non-null    float64
 9   Circum          281 non-null    float64
 10  Volume          281 non-null    float64
 11  Tortilla        421 non-null    float64
 12  Temp            401 non-null    float64
 13  Meat            407 non-null    float64
 14  Fillings        418 non-null    float64
 15  Meat:filling    412 non-null    float64
 16  Uniformity      419 non-null    float64
 17  Salsa           396 non-null    float64
 18  Synergy         419 non-null    float64
 19  Wrap            418 non-null    float64
 20  Unreliable      33 non-null     object
 21  NonSD           7 non-null      object
 22  Beef            179 non-null    object
 23  Pico            158 non-null    object
 24  Guac            154 non-null    object
 25  Cheese          159 non-null    object
 26  Fries           127 non-null    object
 27  Sour cream      92 non-null     object
 28  Pork            51 non-null     object
 29  Chicken         21 non-null     object
 30  Shrimp          21 non-null     object
 31  Fish            6 non-null      object
 32  Rice            36 non-null     object
 33  Beans           35 non-null     object
 34  Lettuce         11 non-null     object
 35  Tomato          7 non-null      object
 36  Bell peper      7 non-null      object
 37  Carrots         1 non-null      object
 38  Cabbage         8 non-null      object
 39  Sauce           38 non-null     object
 40  Salsa.1         7 non-null      object
 41  Cilantro        15 non-null     object
 42  Onion           17 non-null     object
 43  Taquito         4 non-null      object
 44  Pineapple       7 non-null      object
 45  Ham             2 non-null      object
 46  Chile relleno   4 non-null      object
 47  Nopales         4 non-null      object
 48  Lobster         1 non-null      object
 49  Queso           0 non-null      float64
 50  Egg             5 non-null      object
 51  Mushroom        3 non-null      object
 52  Bacon           3 non-null      object
 53  Sushi           2 non-null      object
 54  Avocado         13 non-null     object
 55  Corn            3 non-null      object
 56  Zucchini        1 non-null      object
 57  Great           421 non-null    bool
dtypes: bool(1), float64(19), object(38)
memory usage: 191.2+ KB

In [11]:
df.nunique()

Burrito            5
Yelp               6
Google            18
Chips              4
Cost              98
Hunger            25
Mass (g)          18
Density (g/mL)    21
Length            29
Circum            30
Volume            64
Tortilla          18
Temp              18
Meat              23
Fillings          22
Meat:filling      25
Uniformity        28
Salsa             27
Synergy           27
Wrap              23
Unreliable         1
NonSD              2
Beef               2
Pico               2
Guac               2
Cheese             2
Fries              2
Sour cream         2
Pork               2
Chicken            2
Shrimp             2
Fish               2
Rice               2
Beans              2
Lettuce            2
Tomato             2
Bell peper         2
Carrots            1
Cabbage            2
Sauce              2
Salsa.1            2
Cilantro           2
Onion              2
Taquito            2
Pineapple          2
Ham                1
Chile relleno      1
Nopales            1
Lobster            1
Queso              0
Egg                1
Mushroom           1
Bacon              1
Sushi              1
Avocado            1
Corn               2
Zucchini           1
Great              2
dtype: int64

In [12]:
df['Queso'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Queso, dtype: float64

In [13]:
df['Ham'].value_counts()

x    2
Name: Ham, dtype: int64

In [14]:
df['Corn'].value_counts()

x    2
X    1
Name: Corn, dtype: int64

In [15]:
df.select_dtypes('object')

               Burrito Chips Unreliable NonSD  ... Sushi Avocado Corn Zucchini
Date                                           ...
2016-01-18  California   NaN        NaN   NaN  ...   NaN     NaN  NaN      NaN
2016-01-24  California   NaN        NaN   NaN  ...   NaN     NaN  NaN      NaN
2016-01-24    Carnitas   NaN        NaN   NaN  ...   NaN     NaN  NaN      NaN
2016-01-24       Asada   NaN        NaN   NaN  ...   NaN     NaN  NaN      NaN
2016-01-27  California     x        NaN   NaN  ...   NaN     NaN  NaN      NaN
...                ...   ...        ...   ...  ...   ...     ...  ...      ...
2019-08-27       Other   NaN        NaN   NaN  ...   NaN     NaN  NaN      NaN
2019-08-27       Other   NaN        NaN   NaN  ...   NaN     NaN  NaN      NaN
2019-08-27  California   NaN        NaN   NaN  ...   NaN     NaN  NaN      NaN
2019-08-27       Other   NaN        NaN   NaN  ...   NaN     NaN  NaN      NaN
2019-08-27       Other   NaN        NaN   NaN  ...   NaN     NaN  NaN      NaN

[421 rows x 38 columns]

In [16]:
df.replace({'X':'x'}, inplace=True)

In [17]:
df.nunique()

Burrito            5
Yelp               6
Google            18
Chips              3
Cost              98
Hunger            25
Mass (g)          18
Density (g/mL)    21
Length            29
Circum            30
Volume            64
Tortilla          18
Temp              18
Meat              23
Fillings          22
Meat:filling      25
Uniformity        28
Salsa             27
Synergy           27
Wrap              23
Unreliable         1
NonSD              1
Beef               1
Pico               1
Guac               1
Cheese             1
Fries              1
Sour cream         1
Pork               1
Chicken            1
Shrimp             1
Fish               1
Rice               1
Beans              1
Lettuce            1
Tomato             1
Bell peper         1
Carrots            1
Cabbage            1
Sauce              1
Salsa.1            1
Cilantro           1
Onion              1
Taquito            1
Pineapple          1
Ham                1
Chile relleno      1
Nopales            1
Lobster            1
Queso              0
Egg                1
Mushroom           1
Bacon              1
Sushi              1
Avocado            1
Corn               1
Zucchini           1
Great              2
dtype: int64

In [23]:
df.shape

(421, 57)

In [60]:
df.isnull().sum()

Burrito             0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [18]:
df.drop('Queso', axis=1, inplace=True)

In [32]:
# "Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later."

train = df[df.index.year <= 2016]
val = df[df.index.year == 2017]
test = df[df.index.year > 2017]

In [24]:
test.shape

(38, 57)

In [25]:
val.shape

(85, 57)

In [33]:
train.shape

(298, 57)

In [35]:
target='Great'

y_test, X_test = test[target], test.drop(columns=target)

y_val, X_val = val[target], val.drop(columns=target)

y_train, X_train = train[target], train.drop(columns=target)

In [47]:
# "Begin with baselines for classification."
print('Burrito greatness is', y_train.mode(), round(y_train.value_counts(normalize=True).max(),2), 'percent of the time')

Burrito greatness is 0    False
dtype: bool 0.59 percent of the time

In [ ]:
df.isnull().sum()

In [51]:
# "Use scikit-learn for logistic regression."
from category_encoders import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline

In [57]:
model = make_pipeline(
    OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    StandardScaler(),
    LogisticRegression()
)

In [58]:
model.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

Pipeline(memory=None,
         steps=[('onehotencoder',
                 OneHotEncoder(cols=['Burrito', 'Chips', 'Unreliable', 'NonSD',
                                     'Beef', 'Pico', 'Guac', 'Cheese', 'Fries',
                                     'Sour cream', 'Pork', 'Chicken', 'Shrimp',
                                     'Fish', 'Rice', 'Beans', 'Lettuce',
                                     'Tomato', 'Bell peper', 'Carrots',
                                     'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro',
                                     'Onion', 'Taquito', 'Pineapple', 'Ham',
                                     'Chile relleno', 'Nopales', ...],
                               dr...
                               verbose=0)),
                ('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [59]:
# "Get your model's validation accuracy. (Multiple times if you try multiple iterations.)"

print('Training Accuracy Score', model.score(X_train, y_train))
print('Validation Accuracy Score', model.score(X_val, y_val))

Training Accuracy Score 0.9261744966442953
Validation Accuracy Score 0.7529411764705882

In [69]:
# "Get your model's test accuracy. (One time, at the end.)"

print('Testing Accuracy Score', model.score(X_test, y_test))

Testing Accuracy Score 0.7368421052631579